In [1]:
import pandas as pd

/var/folders/8p/ft1k5gt143qc3r7v0q4q31dm0000gn/T/ipykernel_1538/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = pd.read_csv('wine_cleared.csv')

In [3]:
country_population = pd.read_csv('country_population.csv', sep=';')
country_population.head(30)

           country     population
0            China  1,411,778,724
1            India  1,386,584,581
2               US    333,022,386
3        Indonesia    271,350,000
4         Pakistan    225,200,000
5           Brazil    214,191,924
6          Nigeria    211,401,000
7       Bangladesh    172,011,942
8           Russia    146,171,015
9           Mexico    126,014,024
10           Japan    125,470,000
11        Ethiopia    117,876,000
12     Philippines    111,335,110
13           Egypt    102,785,900
14         Vietnam     98,510,000
15        DR Congo     92,378,000
16            Iran     85,096,209
17          Turkey     83,614,362
18         Germany     83,129,285
19          France     68,035,000
20  United Kingdom     67,081,234
21        Thailand     66,739,317
22    South Africa     60,142,978
23        Tanzania     59,441,988
24           Italy     59,097,904
25         Myanmar     55,294,979
26     South Korea     51,671,569
27        Colombia     51,049,498
28           Kenya     47,564,296
29           Spain     47,394,223

In [4]:
data = data.join(country_population.set_index('country'), on='country')

In [5]:
country_area = pd.read_csv('country_area.csv', sep=';')
country_area.head()

  country        area
0  Russia  17075400.0
1  Canada   9984670.0
2   China   9596960.0
3      US   9372610.0
4  Brazil   8547000.0

In [6]:
data = data.join(country_area.set_index('country'), on='country')
data.head(20)

,Unnamed: 0,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,population,area
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,"59,097,904",301230.0
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,"10,347,892",92391.0
2,2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,"333,022,386",9372610.0
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,Alexander Peartree,unknown,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,"333,022,386",9372610.0
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,"333,022,386",9372610.0
5,5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.000000,Northern Spain,Navarra,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem,"47,394,223",504782.0
6,6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.000000,Sicily & Sardinia,Vittoria,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo,"59,097,904",301230.0
7,7,France,This dry and restrained wine offers spice in p...,unknown,87,24.000000,Alsace,Alsace,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach,"68,035,000",547030.0
8,8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.000000,Rheinhessen,unknown,Anna Lee C. Iijima,unknown,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel,"83,129,285",357022.0
9,9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.000000,Alsace,Alsace,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam,"68,035,000",547030.0
10,10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.000000,California,Napa Valley,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,"333,022,386",9372610.0
11,11,France,"This is a dry wine, very spicy, with a tight, ...",unknown,87,30.000000,Alsace,Alsace,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer,"68,035,000",547030.0
12,12,US,"Slightly reduced, this wine offers a chalky, t...",unknown,87,34.000000,California,Alexander Valley,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini,"333,022,386",9372610.0
13,13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte,"59,097,904",301230.0
14,14,US,Building on 150 years and six generations of w...,unknown,87,12.000000,California,Central Coast,Matt Kettmann,@mattkettmann,Mirassou 2012 Chardonnay (Central Coast),Chardonnay,Mirassou,"333,022,386",9372610.0
15,15,Germany,Zesty orange peels and apple notes abound in t...,Devon,87,24.000000,Mosel,unknown,Anna Lee C. Iijima,unknown,Richard Böcking 2013 Devon Riesling (Mosel),Riesling,Richard Böcking,"83,129,285",357022.0
16,16,Argentina,"Baked plum, molasses, balsamic vinegar and che...",Felix,87,30.000000,Other,Cafayate,Michael Schachner,@wineschach,Felix Lavaque 2010 Felix Malbec (Cafayate),Malbec,Felix Lavaque,"45,808,747",2760990.0
17,17,Argentina,Raw black-cherry aromas are direct and simple ...,Winemaker Selection,87,13.000000,Mendoza Province,Mendoza,Michael Schachner,@wineschach,Gaucho Andino 2011 Winemaker Selection Malbec ...,Malbec,Gaucho Andino,"45,808,747",2760990.0
18,18,Spain,"Desiccated blackberry, leather, charred wood a...",Vendimia Seleccionada Finca Valdelayegua Singl...,87,28.000000,Northern Spain,Ribera del Duero,Michael Schachner,@wineschach,Pradorey 2010 Vendimia Seleccionada Finca Vald...,Tempranillo Blend,Pradorey,"47,394,223",504782.0
19,19,US,"Red fruit aromas pervade on the nose, with cig...",unknown,87,32.000000,Virginia,Virginia,Alexander Peartree,unknown,Quiévremont 2012 Meritage (Virginia),Meritage,Quiévremont,"333,022,386",9372610.0

In [7]:
data.value_counts(data['title'])

title
Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma County)                        11
Korbel NV Brut Sparkling (California)                                          9
Segura Viudas NV Extra Dry Sparkling (Cava)                                    8
Segura Viudas NV Aria Estate Extra Dry Sparkling (Cava)                        7
Ruinart NV Brut Rosé  (Champagne)                                              7
                                                                              ..
Dutton-Goldfield 2014 Angel Camp Vineyard Pinot Noir (Anderson Valley)         1
Dutton-Goldfield 2013 McDougall Vineyard Pinot Noir (Fort Ross-Seaview)        1
Dutton-Goldfield 2013 Fox Den Vineyard Pinot Noir (Green Valley)               1
Dutton-Goldfield 2013 Dutton Ranch Rued Vineyard Chardonnay (Green Valley)     1
Štoka 2011 Izbrani Teran (Kras)                                                1
Name: count, Length: 118840, dtype: int64

In [8]:
title_group = data.groupby(by=['title']).apply(lambda x: x == 'Gård 2014')
display(title_group)

/var/folders/8p/ft1k5gt143qc3r7v0q4q31dm0000gn/T/ipykernel_1538/1873237924.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  title_group = data.groupby(by=['title']).apply(lambda x: x == 'Gård 2014')

                                                           Unnamed: 0  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807        False
1+1=3 NV Brut Sparkling (Cava)                     55163        False
                                                   93375        False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657        False
                                                   56109        False
...                                                               ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926         False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023       False
Štoka 2009 Izbrani Teran (Kras)                    10290        False
Štoka 2011 Grganja Vitovska (Kras)                 70504        False
Štoka 2011 Izbrani Teran (Kras)                    70505        False

                                                           country  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807     False
1+1=3 NV Brut Sparkling (Cava)                     55163     False
                                                   93375     False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657     False
                                                   56109     False
...                                                            ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926      False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023    False
Štoka 2009 Izbrani Teran (Kras)                    10290     False
Štoka 2011 Grganja Vitovska (Kras)                 70504     False
Štoka 2011 Izbrani Teran (Kras)                    70505     False

                                                           description  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807         False
1+1=3 NV Brut Sparkling (Cava)                     55163         False
                                                   93375         False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657         False
                                                   56109         False
...                                                                ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926          False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023        False
Štoka 2009 Izbrani Teran (Kras)                    10290         False
Štoka 2011 Grganja Vitovska (Kras)                 70504         False
Štoka 2011 Izbrani Teran (Kras)                    70505         False

                                                           designation  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807         False
1+1=3 NV Brut Sparkling (Cava)                     55163         False
                                                   93375         False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657         False
                                                   56109         False
...                                                                ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926          False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023        False
Štoka 2009 Izbrani Teran (Kras)                    10290         False
Štoka 2011 Grganja Vitovska (Kras)                 70504         False
Štoka 2011 Izbrani Teran (Kras)                    70505         False

                                                           points  price  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807    False  False
1+1=3 NV Brut Sparkling (Cava)                     55163    False  False
                                                   93375    False  False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657    False  False
                                                   56109    False  False
...                                                           ...    ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926     False  False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023   False  False
Štoka 2009 Izbrani Teran (Kras)                    10290    False  False
Štoka 2011 Grganja Vitovska (Kras)                 70504    False  False
Štoka 2011 Izbrani Teran (Kras)                    70505    False  False

                                                           province  region_1  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807      False     False
1+1=3 NV Brut Sparkling (Cava)                     55163      False     False
                                                   93375      False     False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657      False     False
                                                   56109      False     False
...                                                             ...       ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926       False     False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023     False     False
Štoka 2009 Izbrani Teran (Kras)                    10290      False     False
Štoka 2011 Grganja Vitovska (Kras)                 70504      False     False
Štoka 2011 Izbrani Teran (Kras)                    70505      False     False

                                                           taster_name  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807         False
1+1=3 NV Brut Sparkling (Cava)                     55163         False
                                                   93375         False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657         False
                                                   56109         False
...                                                                ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926          False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023        False
Štoka 2009 Izbrani Teran (Kras)                    10290         False
Štoka 2011 Grganja Vitovska (Kras)                 70504         False
Štoka 2011 Izbrani Teran (Kras)                    70505         False

                                                           taster_twitter_handle  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807                   False
1+1=3 NV Brut Sparkling (Cava)                     55163                   False
                                                   93375                   False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657                   False
                                                   56109                   False
...                                                                          ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926                    False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023                  False
Štoka 2009 Izbrani Teran (Kras)                    10290                   False
Štoka 2011 Grganja Vitovska (Kras)                 70504                   False
Štoka 2011 Izbrani Teran (Kras)                    70505                   False

                                                           title  variety  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807   False    False
1+1=3 NV Brut Sparkling (Cava)                     55163   False    False
                                                   93375   False    False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657   False    False
                                                   56109   False    False
...                                                          ...      ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926    False    False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023  False    False
Štoka 2009 Izbrani Teran (Kras)                    10290   False    False
Štoka 2011 Grganja Vitovska (Kras)                 70504   False    False
Štoka 2011 Izbrani Teran (Kras)                    70505   False    False

                                                           winery  population  \
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807    False       False
1+1=3 NV Brut Sparkling (Cava)                     55163    False       False
                                                   93375    False       False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657    False       False
                                                   56109    False       False
...                                                           ...         ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926     False       False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023   False       False
Štoka 2009 Izbrani Teran (Kras)                    10290    False       False
Štoka 2011 Grganja Vitovska (Kras)                 70504    False       False
Štoka 2011 Izbrani Teran (Kras)                    70505    False       False

                                                            area
title
1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)       63807   False
1+1=3 NV Brut Sparkling (Cava)                     55163   False
                                                   93375   False
1+1=3 NV Cygnus Brut Nature Reserva Made With O... 33657   False
                                                   56109   False
...                                                          ...
àMaurice 2014 Fred Estate Syrah (Walla Walla Va... 5926    False
àMaurice NV Pour Me Red (Columbia Valley (WA))     128023  False
Štoka 2009 Izbrani Teran (Kras)                    10290   False
Štoka 2011 Grganja Vitovska (Kras)                 70504   False
Štoka 2011 Izbrani Teran (Kras)                    70505   False

[129972 rows x 15 columns]

In [9]:
data[data['title'] == 'Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))']['area'].squeeze()

9372610.0

In [10]:
import pandas as pd 

# инициализируем информацию о звонках
calls_list = [
    [460, '2013-12-17 04:55:39', '2013-12-17 04:55:44', '2013-12-17 04:55:45'],
    [12, '2013-12-16 20:03:20', '2013-12-16 20:03:22', '2013-12-16 20:07:13'],
    [56, '2013-12-16 20:03:20', '2013-12-16 20:03:20', '2013-12-16 20:05:04'],
    [980, '2013-12-16 20:03:20','2013-12-16 20:03:27', '2013-12-16 20:03:29'],
    [396, '2013-12-16 20:08:27', '2013-12-16 20:08:28','2013-12-16 20:12:03'],
    [449, '2013-12-16 20:03:20', '2013-12-16 20:03:25','2013-12-16 20:05:00'],
    [397, '2013-12-16 20:08:25', '2013-12-16 20:08:27', '2013-12-16 20:09:59'],
    [398, '2013-12-16 20:01:23', '2013-12-16 20:01:23', '2013-12-16 20:04:58'],
    [452, '2013-12-16 20:03:20', '2013-12-16 20:03:21','2013-12-16 20:04:55'],
    [440, '2013-12-16 20:03:20', '2013-12-16 20:04:26', '2013-12-16 20:04:32']
]

calls = pd.DataFrame(calls_list, columns = ['client_id',  'agent_date', 'created_at' ,'end_date'])

# преобразовываем признаки в формат datetime для удобной работы

calls['agent_date'] = pd.to_datetime(calls['agent_date'])
calls['created_at'] = pd.to_datetime(calls['created_at'])
calls['end_date'] = pd.to_datetime(calls['end_date'])

calls

   client_id          agent_date          created_at            end_date
0        460 2013-12-17 04:55:39 2013-12-17 04:55:44 2013-12-17 04:55:45
1         12 2013-12-16 20:03:20 2013-12-16 20:03:22 2013-12-16 20:07:13
2         56 2013-12-16 20:03:20 2013-12-16 20:03:20 2013-12-16 20:05:04
3        980 2013-12-16 20:03:20 2013-12-16 20:03:27 2013-12-16 20:03:29
4        396 2013-12-16 20:08:27 2013-12-16 20:08:28 2013-12-16 20:12:03
5        449 2013-12-16 20:03:20 2013-12-16 20:03:25 2013-12-16 20:05:00
6        397 2013-12-16 20:08:25 2013-12-16 20:08:27 2013-12-16 20:09:59
7        398 2013-12-16 20:01:23 2013-12-16 20:01:23 2013-12-16 20:04:58
8        452 2013-12-16 20:03:20 2013-12-16 20:03:21 2013-12-16 20:04:55
9        440 2013-12-16 20:03:20 2013-12-16 20:04:26 2013-12-16 20:04:32

In [11]:
calls['duration'] = (calls['end_date'] - calls['created_at']).dt.seconds
calls

,client_id,agent_date,created_at,end_date,duration
0,460,2013-12-17 04:55:39,2013-12-17 04:55:44,2013-12-17 04:55:45,1
1,12,2013-12-16 20:03:20,2013-12-16 20:03:22,2013-12-16 20:07:13,231
2,56,2013-12-16 20:03:20,2013-12-16 20:03:20,2013-12-16 20:05:04,104
3,980,2013-12-16 20:03:20,2013-12-16 20:03:27,2013-12-16 20:03:29,2
4,396,2013-12-16 20:08:27,2013-12-16 20:08:28,2013-12-16 20:12:03,215
5,449,2013-12-16 20:03:20,2013-12-16 20:03:25,2013-12-16 20:05:00,95
6,397,2013-12-16 20:08:25,2013-12-16 20:08:27,2013-12-16 20:09:59,92
7,398,2013-12-16 20:01:23,2013-12-16 20:01:23,2013-12-16 20:04:58,215
8,452,2013-12-16 20:03:20,2013-12-16 20:03:21,2013-12-16 20:04:55,94
9,440,2013-12-16 20:03:20,2013-12-16 20:04:26,2013-12-16 20:04:32,6

In [13]:
calls['time_connection'] = (calls['created_at'] - calls['agent_date']).dt.seconds
calls['time_connection'].sum()

89

In [17]:
calls['is_connection'] = calls['duration'].apply(lambda x: 1 if x> 10 else 0)
calls['is_connection'].sum()

7

In [18]:
calls['time_diff'] = (calls['end_date'] - calls['agent_date']).dt.seconds
calls['time_diff'].sum()

1144

In [19]:
calls = calls.drop(columns=['agent_date', 'created_at' ,'end_date'], axis=1)